####
# AndroidStudio
*.iml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/copyright

####
# builds & gradle
build
.externalNativeBuild
.gradle
local.properties

####
# Generated app icons
ic_appbar.png
ic_launcher.png

im_loader_background.png


captures
