####
# AndroidStudio
*.iml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/copyright

####
# builds & gradle
build
.externalNativeBuild
.gradle
local.properties

####
# vscode
.project

####
# Generated app icons
ic_appbar.png
ic_launcher.png
ic_launcher_foreground.xml
ic_launcher_background.xml

im_loader_background.png


captures
