<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_APP_NAME</key>
	<string>Wheelmap</string>
	<key>PROJECT_HOST_NAME</key>
	<string>localhost:3000</string>
	<key>PROJECT_PRIMARY_COLOR</key>
	<string>7cc500</string>
</dict>
</plist>
